%nav.navbar.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} Trip
  - if user_signed_in?
    %form.form-inline
      = link_to 'Sign out', destroy_user_session_path,
        method: :delete, class: "btn btn-outline-primary"
  - else
    %form.form-inline
      = link_to 'Sign in', new_user_session_path, class: "btn btn-outline-primary"
      %div{:style => "padding-left: 10px;"}
        = link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-success"